.container {
  margin-top: 50px;
}

.infocontainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textcontainer {
  flex: 1;
}

.title {
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.userImgDiv {
  width: 50px;
  height: 50px;
  position: relative;
}

.postImgDiv {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.userimagelogo {
  border-radius: 50%;
  object-fit: cover;
}

.usertextContainer {
  display: flex;
  color: var(--softTextColor);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.postcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}

.description {
  line-height: 1.25rem;
  font-weight: 600;
  font-size: 0.875rem;
}

.post {
  flex: 5;
}

@media screen and (min-width: 768px) {
  .postcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
  }

  .Cardcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .categoriescontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1280px) {
}
