.container {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
}

.logo {
  align-items: center;
  /* background-color: var(--header); */
  padding: 8px 12px;
}

.logoicon {
  border-radius: 10%;
  object-fit: cover;
}

.social {
  display: flex;
align-items: center;
gap: 10px;
font-size: 38px;
font-weight: bold;
}

.links {
  display: flex;
align-items: center;
gap: 10px;
font-size: 22px;
}

@media screen  and (max-width: 1280px){
 

  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen  and (max-width: 1024px){
.social {
    display: none;
  }
}

@media screen  and (max-width: 768px){
  .social {
    display: none;
  }
}

@media screen  and (max-width: 768px){
  .social {
    display: none;
  }
}

@media screen  and (max-width: 640px){
  .link {
    display: none;
  }

  .links {
    justify-content: flex-end;
  }
}