.container {
  margin-top: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 10px;
}

.btn {
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
  border: none;
  color: azure;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn:first-child {
  background-color: rgb(248, 50, 50);
  text-align: center;
}

.btn:nth-child(2) {
  background-color: blue;
}

.btn:nth-child(3) {
  background-color: #000;
}
