.container {
    /* margin-top: 30px; */
     display: flex;
    align-items: center;
    /* gap: 170px; */
  }

  .post {
    margin-top: 30px;
    display: block;
    align-items: center;
    gap: 10px;
  }
  
  .postImg {
    flex: 1;
    height: 200px;
    position: relative;
  }
  
  .image {
    object-fit: cover;
  }
  
  .textcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .postTitle {
    font-size: 23px;
    font-weight: 700;
  }
  
  .postDesc {
    font-size: 19px;
    font-weight: 300;
    color: var(--softTextColor);
  }
  
  .postbtn {
    padding: 8px 12px;
    background-color: #1a8917;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    border: none;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
  }
  