.title {
  margin: 25px;
  font-family: Domine, serif;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: var(--textColor);
}

@media (min-width: 36em) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

@media (min-width: 48em) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 62em) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 75em) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 90em) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
