:root {
  --bg: #ecf3ed;
  --textColor: #050605;
  --header: #087d08;
  --smallTextColor: #1f261f;
  --softBg: #f0f0f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.light {
  --bg: #ecf3ed;
  --textColor: #050605;
  --header: #E3FCF7;
  --smallTextColor: #1f261f;
  --softBg: #a6a6a6;
}

.dark {
  --bg: #061621;
  --softBg: #1f273a;
  --header: #1f273a;
  --textColor: #ddd;
  --softTextColor: #a6a6a6;
}



body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

@midia screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@midia screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@midia screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }
}

@midia screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@midia screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container {
font-size: 28px !important;
}

.qull > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
