.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 36em) {
  .cardItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (min-width: 48em) {
  .cardItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (min-width: 62em) {
  .cardItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 75em) {
  .cardItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 90em) {
  .cardItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
