.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.left {
  padding: 8px 12px;
  background-color: #1a8917;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  border: none;
  border-end-start-radius: 10px;
  border-start-end-radius: 10px;

}

.right {
  padding: 8px 12px;
  background-color: #1a8917;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  border: none;
  border-end-start-radius: 10px;
  border-start-end-radius: 10px;

 
}
