.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 35px 0;
}

.logoDiv {
  display: flex;
  align-items: center;
  padding: 25px 20px 0 0;
}

.logo {
  border-radius: 10%;
  object-fit: cover;
}

.pagename {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: blue;
  margin-left: 10px;
 }

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px 0;
}

.footerlinks {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
