.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 750px;
  margin-bottom: 20px;
  background-color: blue;
  padding: 20px 22px;
  border-radius: 89px;
  text-align: center;
}

.headertitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: Domine, serif;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #fff;
}

.subtitle {
  font-size: 1.0rem;
  line-height: 1rem;
  font-family: Domine, serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  color: #fff;
}





/* card styles */

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100vw;
  max-width: 390px;
  border-radius: 0.1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  margin: 10px 0;
}

.imgContainer {
  width: 50%;
  aspect-ratio: 1/1;
  position: relative;
}
.category {
  padding: 5px 8px;
  border-radius: 10px;
  color: var(--textColor);
  width: max-content;
}

.image {
  object-fit: cover;
  border-radius: 0.5rem;
  background-color: rgb(83, 19, 112);
}
.textContainer {
  width: 50%;
  padding: 8px 0;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.995rem;
  line-height: 1.25rem;
}

.title {
  font-size: 1.525rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  font-size: 0.995rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

@media (min-width: 36em) {
  .item {
    max-width: 690px;
  }
}

@media (min-width: 48em) {

}

@media (min-width: 62em) {
 
  
}

@media (min-width: 75em) {

}
