.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.category {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
  border-radius: 15px;
  padding: 5px 8px;
  font-family: Domine, serif;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.image {
  border-radius: 50%;
}

.category.sport {
  background-color: var(--header);
  color: var(--textColor);
}

.category.lifestyle {
  background-color: var(--header);
  color: var(--textColor);
}

.category.health {
  background-color: var(--header);
  color: var(--textColor);
}
.category.technology {
  background-color: var(--header);
  color: var(--textColor);
}

.category.enterntement {
  background-color: var(--header);
  color: var(--textColor);
}

.category.trending {
  background-color: var(--header);
  color: var(--textColor);
}

.category.features {
  background-color: var(--header);
  color: var(--textColor);
}
