.container {
  margin-top: 60px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  padding: 5px 8px;
}

.image {
  border-radius: 50%;
}

.category.sport {
  background-color:  var(--header);
  color: var(  --textColor);
}

.category.liftStyle {
  background-color:  var(--header);
  color: var(  --textColor);
}

.category.health {
  background-color:  var(--header);
  color: var(  --textColor);
}
.category.technology {
  background-color:  var(--header);
  color: var(  --textColor);
}

.category.treandingsNews {
  background-color: var(--header);
  color: var(  --textColor);
}
