.hot {
}

.title {
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imgContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}
.category {
  padding: 5px 8px;
  border-radius: 10px;
  color: var(--textColor);
  width: max-content;
}

.image {
  object-fit: cover;
  border-radius: 50%;
}
.textContainer {
  flex: 4;
}

.category.sport {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: red;
}

.category.lifeStyle {
  padding: 5px 8px;
  background-color: var(--header);
  color: var(--textColor);
}

.category.health {
  padding: 5px 8px;
  background-color: var(--header);
  color: var(--textColor);
}
.category.technology {
  padding: 5px 8px;
  background-color: var(--header);
  color: var(--textColor);
}

.category.treadings {
  padding: 5px 8px;
  background-color: var(--header);
  color: var(--textColor);
}

.date {
}
.username {
}
